.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
  padding: 8px 10px;
  }
  
  .styled-table tbody tr{
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #139102c4;;
  }
  
  .styled-table tbody tr:last-of-type{
    border-bottom: 2px solid #000000;
  }
  
  .styled-table tbody tr:first-of-type{
    border-top: 2px solid #000000;
  }
  
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
  td, th {
    border: 2px solid #000000;
    padding: 0.5rem;
  }
  .delete-button {
    font: bold 15px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
  .delete-button:hover {
    background-color: #e00000;
    border-radius: 5;
    cursor: pointer;
  }
  