    <div class="exercise-details">
        <h1>Name: {{ exercise.exerciseName }}</h1>
        <div class="details">
            <p><strong>Weight:</strong> {{ exercise.weight }}</p>
            <p><strong>Repetitions:</strong> {{ exercise.repetitions }}</p>
            <p><strong>Intensity:</strong> {{ exercise.intensity }}</p>
            <p><strong>Notes:</strong> {{ exercise.notes }}</p>
            <p><strong>Date Completed:</strong> {{ exercise.date | date: 'M/d/yy' }}</p>
        </div>
        <button class="red-button" (click)="deleteAndReload(exercise.exerciseId)">Delete</button>
        <button class="green-button"><a routerLink='/edit-exercise/{{exercise.exerciseId}}'>Edit</a></button>
    </div>
    