<button class="red-button"><a routerLink="/">Back</a></button>

<div class="input-wrapper">
    <p>
        <label class="epic-input" for="exerciseName">Exercise Name</label>
        <input class="epic-input" type="text" id="exerciseName" name="exerciseName" [(ngModel)]="exercise.exerciseName">
    </p>
    <p>
        <label class="epic-input" for="weight">Weight</label>
        <input class="epic-input" type="number" id="weight" name="weight" [(ngModel)]="exercise.weight">
    </p>
    <p>
        <label class="epic-input" for="intensity">Intensity</label>
        <input class="epic-input" type="number" id="intensity" name="intensity" [(ngModel)]="exercise.intensity">
    </p>
    <p>
        <label class="epic-input" for="repetitions">Repetitions</label>
        <input class="epic-input" type="number" id="repetitions" name="repetitions" [(ngModel)]="exercise.repetitions">
    </p>   
    <p>
        <label class="epic-input" for="notes">Notes</label>
        <input class="epic-input" type="text" id="notes" name="notes" [(ngModel)]="exercise.notes">
    </p>
    <p>
        <button class="green-button" (click)="editExercise()">Submit</button>
    </p>
</div>
