<div>
        <h3>Exercises</h3>
</div>

<div>
        <a routerLink="/create-exercise" class="blue-button">Create a new entry</a>
</div>

<div>
        <input type="text" placeholder="Search by name" #input>
        <button class="blue-button"
        (click)="filterResults(input.value)">Search</button>
</div>

<div>
        <a routerLink="/edit-exercise" class="blue-button">Edit an Exercise</a>
</div>

<div class="grid-container">
                @for(exercise of filteredExercises; track exercise.exerciseId)
                {
                        <div>
                                <app-exercise-component [exercise]="exercise"></app-exercise-component>
                        </div>
                }
</div>