.blue-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
}

.blue-button:hover {
  background-color: #0056b3;
}

h3 {
  font: bold 50px Arial;
  color: #333333;
}

a { 
  text-decoration: none; 
  margin-right: 10px;
  padding-right: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  padding: 20px;
}