<h3>Exercises</h3>

<a routerLink="/create-exercise" class="blue-button">Create a new entry</a>
                <ul>
                        @for(exercise of exercises; track exercise.exerciseId)
                        {
                                <li>
                                        <app-exercise-component [exercise]="exercise"></app-exercise-component>
                                </li>
                        }
                </ul>

<button class="blue-button">Search</button>