.blue-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.blue-button:hover {
  background-color: #0056b3;
}

h3 {
  font: bold 50px Arial;
  color: #333333;
}

a { 
  text-decoration: none; 
}

