<div>
        <h3>Exercises</h3>
</div>

<div>
        <a routerLink="/create-exercise" class="blue-button">Create a new entry</a>
</div>

<div>
        <button class="blue-button">Search</button>
</div>

<div>
        <a routerLink="/edit-exercise" class="blue-button">Edit an Exercise</a>
</div>

<div class="grid-container">
                @for(exercise of exercises; track exercise.exerciseId)
                {
                        <div>
                                <app-exercise-component [exercise]="exercise"></app-exercise-component>
                        </div>
                }
</div>